PORT=5000

# DEVELOPMENT LOCAL
NODE_ENV="development_server"
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=""
DB_NAME=adminpanel_db

SESSION_SECRET='f4a6b92e3c9b4a8d2f67a39f90d0f5ab'

Page_Size=5

BASE_URL=http://localhost:5000/
BASE_URL_AP=http://localhost:5000/ap/
BASE_URL_SITE=http://localhost:5000/site/
BASE_URL_API=http://localhost:5000/api/

BASE_URL_FRONTEND=http://localhost:5001/

#GOOGLE MAP API KEY
GOOGLE_MAP_API_KEY=

#MAPBOX ACCESS TOKEN
MAPBOX_ACCESS_TOKEN=

#SENDGRID_API_KEY
SENDGRID_API_KEY=''