<!-- JQUERY JS -->
<script src="/admin/assets/js/jquery.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/admin/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- INTERNAL Data tables js-->
<script src="/admin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/admin/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="/admin/assets/plugins/datatable/dataTables.responsive.min.js"></script>

<!-- SPARKLINE JS-->
<script src="/admin/assets/js/jquery.sparkline.min.js"></script>

<!-- CHART-CIRCLE JS-->
<script src="/admin/assets/js/circle-progress.min.js"></script>

<!-- INTERNAL CHARTJS CHART JS-->
<script src="/admin/assets/plugins/chart/Chart.bundle.js"></script>
<script src="/admin/assets/plugins/chart/rounded-barchart.js"></script>
<script src="/admin/assets/plugins/chart/utils.js"></script>


<!-- INTERNAL Flot JS -->
<script src="/admin/assets/plugins/flot/jquery.flot.js"></script>
<script src="/admin/assets/plugins/flot/jquery.flot.fillbetween.js"></script>
<script src="/admin/assets/plugins/flot/chart.flot.sampledata.js"></script>
<script src="/admin/assets/plugins/flot/dashboard.sampledata.js"></script>

<!-- SIDE-MENU JS-->
<script src="/admin/assets/plugins/sidemenu/sidemenu.js"></script>


<!-- SIDEBAR JS -->
<script src="/admin/assets/plugins/sidebar/sidebar.js"></script>

<!-- TypeHead js -->
<!-- <script src="/admin/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
 <script src="/admin/assets/js/typehead.js"></script> -->

<!-- INTERNAL INDEX JS --><script src="/admin/assets/js/index1.js"> </script>


<!-- INTERNAL Autofill-Table JS -->
<script src="/admin/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/admin/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<!-- <script src="/admin/assets/plugins/datatable/js/dataTables.buttons.min.js"></script> -->
<!-- <script src="/admin/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script> -->
<!-- <script src="/admin/assets/plugins/extension-datatable/autofill/dataTables.autoFill.min.js"></script> -->
<!-- <script src="/admin/assets/plugins/extension-datatable/autofill/autoFill.bootstrap5.min.js"></script>
    <script src="/admin/assets/plugins/extension-datatable/keytable/dataTables.keyTable.min.js"></script> --><script src="/admin/assets/js/autofill-table.js"> </script>

<!-- INTERNAL Date-Time-Table JS -->
<!-- <script src="/admin/assets/plugins/extension-datatable/date-time/moment.js"></script>
    <script src="/admin/assets/plugins/extension-datatable/date-time/dataTables.dateTime.min.js"></script>
    <script src="/admin/assets/js/datetime-table.js"></script> -->

<!-- FILE UPLOADES JS --><script src="/admin/assets/plugins/fileuploads/js/fileupload.js"> </script>
<script src="/admin/assets/plugins/fileuploads/js/file-upload.js"></script>


<!-- INTERNAL Notifications js -->
<script src="/admin/assets/plugins/notify/js/rainbow.js"></script>
<script src="/admin/assets/plugins/notify/js/sample.js"></script>
<script src="/admin/assets/plugins/notify/js/jquery.growl.js"></script>
<script src="/admin/assets/plugins/notify/js/notifIt.js"></script>

<!-- Switcher js -->
<script src="/admin/assets/switcher/js/switcher.js"></script>

<!-- SWEET-ALERT JS -->
<script src="/admin/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="/admin/assets/js/sweet-alert.js"></script>


<!-- GALLERY JS -->
<!-- <script src="/admin/assets/plugins/gallery/picturefill.js"></script> -->
<script src="/admin/assets/plugins/gallery/lightgallery.js"></script>
<script src="/admin/assets/plugins/gallery/lightgallery-1.js"></script>
<script src="/admin/assets/plugins/gallery/lg-pager.js"></script>
<script src="/admin/assets/plugins/gallery/lg-autoplay.js"></script>
<script src="/admin/assets/plugins/gallery/lg-fullscreen.js"></script>
<script src="/admin/assets/plugins/gallery/lg-zoom.js"></script>
<!-- <script src="/admin/assets/plugins/gallery/lg-hash.js"></script> -->
<!-- <script src="/admin/assets/plugins/gallery/lg-share.js"></script> -->

<!-- Perfect SCROLLBAR JS--><script src="/admin/assets/plugins/p-scroll/perfect-scrollbar.js"> </script>
<script src="/admin/assets/plugins/p-scroll/pscroll.js"></script>
<script src="/admin/assets/plugins/p-scroll/pscroll-1.js"></script>
<!-- SELECT2 JS -->
<script src="/admin/assets/plugins/select2/select2.full.min.js"></script>
<script src="/admin/assets/js/select2.js"></script>

<!-- MULTI SELECT JS-->
<script src="/admin/assets/plugins/multipleselect/multiple-select.js"></script>
<script src="/admin/assets/plugins/multipleselect/multi-select.js"></script>
<!-- Smmer node links -->
<script src="/admin/assets/plugins/summernote/summernote1.js"></script>
<script src="/admin/assets/js/summernote.js"></script>
<!-- FORMVALIDATION JS -->
<script src="/admin/assets/js/form-validation.js"></script>

<!-- Color Theme js -->
<script src="/admin/assets/js/themeColors.js"></script>


<!-- Sticky js -->
<script src="/admin/assets/js/sticky.js"></script>

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://unpkg.com/imask"></script>
<!-- CUSTOM JS -->
<script src="/admin/assets/js/custom.js"></script>
<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"></script>
<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
    //******************* socket.io*****************
    const socket = io();
    socket.on("disconnect", (reason) => {
        console.log(reason)
        $.growl.error1({title: "Error!", message: "Your session was destroyed. Redirecting to login page."});
        setTimeout(() => {
            location.reload();
        }, 5000);
    });
    //******************** ./socket.io*****************

    $(function () {
        "use strict";
        // MENU TOGGLE
        const sidebarToggled = localStorage.getItem('sidebar-toggled');
        if (sidebarToggled != null) {
            $("body").addClass("sidenav-toggled");
        }
        $(document).on("click", ".app-sidebar__toggle", function () {
            let sidebarToggled = localStorage.getItem('sidebar-toggled');
            if (sidebarToggled != null && sidebarToggled == "sidenav-toggled") {
                localStorage.removeItem("sidebar-toggled");
                $("body").removeClass("sidenav-toggled");
            } else {
                localStorage.setItem("sidebar-toggled", "sidenav-toggled");
                $('body').addClass("sidenav-toggled");
            }
        })
        // MENU ACTIVE
        const menuId = localStorage.getItem("side-menu-id");
        const href = localStorage.getItem("href");
        if (menuId != null) {
            if (href != null) {
                $(`#${menuId}`).addClass("is-expanded");
                $(`#${menuId}`).find("a.side-menu__item").addClass("active");
                $('a[href*="' + href + '"').addClass("active");
            } else {
                $(`#${menuId}`).addClass('active');
            }
        } else {
            $("#main_menu").find("a.side-menu__item").addClass('active');
        }
    })

    // MENU ACTIVE
    $(document).ready(function () { // Dropdown menu
        $("ul.side-menu li.slide ul.slide-menu").on("click", "li", function (e) {
            let menuId = $(this).parents().eq(1).attr('id');
            let href = $(this).find('a').attr('href');
            localStorage.setItem("side-menu-id", menuId);
            localStorage.setItem("href", href);
        });
        // Simple Menu
        $("ul.side-menu li.no-slide").on("click", "a", function (e) {
            let menuId = $(this).parents().eq(0).attr('id');
            localStorage.setItem("side-menu-id", menuId);
            localStorage.setItem("href", null);
        });

        // Filter Form reset button
        $("#filter_reset_btn").on("click", function() {
            $('#searchFormFilter')[0].reset();
            $('#filter_type').val('all').trigger('change');
            $('#filter_district').val('all').trigger('change');
            $('#filter_attraction').val('all').trigger('change');
            $('#filter_poi_category').val('all').trigger('change');
            $('#filter_user').val('all').trigger('change');
            $('#filter_action').val('all').trigger('change');
        })
    })

    const successFlash = "<%= successFlash %>";
    const errorFlash = "<%= errorFlash %>";
    $(function () {
        getTosterMesg();
    })

    function getTosterMesg() {
        if (successFlash.length > 0) {
         console.log("<%= successFlash %>")
            $.growl.notice1({title: "Success!", message: successFlash});
        }
        if (errorFlash.length > 0) {
            $.growl.error1({title: "Error!", message: errorFlash});
        }
    }
    $(".summernote").summernote({
        placeholder: 'Enter details here...',
        tabsize: 2,
        height: 150,
        minHeight: 150, // set minimum height of editor
        maxHeight: 500,
        focus: true ,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", "clear"]],
            ["fontname", ["fontname"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link"]],
            ["view", ["fullscreen", "codeview", "help"]]
        ],
    });

    // submit button loader
    function submitBtnLoader(btn, status) {
        const submitBtn = $("#"+btn);
        if(status == 'show') {
            submitBtn.attr({ disabled: true });
            const loaderHtml = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving';
            submitBtn.html(loaderHtml);
        } else {
            submitBtn.attr({ disabled: false });
            const text = btn == 'submit' ? 'Save':'Update';
            submitBtn.html(text);
        }
    }
    
    // Mapbox Configuration
    mapboxgl.accessToken = '<%=MAPBOX_ACCESS_TOKEN%>';
    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        // types: 'country,region,place,postcode,locality,neighborhood'
        mapboxgl: mapboxgl
    });
    
    geocoder.addTo('.mapbox_location');
    
    
    // Add geocoder result to container.
    geocoder.on('result', (e) => {
        console.log(e.result);
        $("#location_title").attr('value', e.result.place_name)
        $("#latitude").attr('value', e.result.center[1])
        $("#longitude").attr('value', e.result.center[0])
        $("#location_title_edit").attr('value', e.result.place_name)
        $("#latitude_edit").attr('value', e.result.center[1])
        $("#longitude_edit").attr('value', e.result.center[0])
    });
    // MapboxGeocoder Configuration end    

</script>
