<head>

  <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Next Generation Circle Pvt. Ltd., Peshawar, Khyber Pakhtunkhwa, Pakistan">
  <meta name="author" content="Imran Azim">
  <meta name="keywords" content="ngen, ngc, kp, kptourism, tourism, peshawar, pakistan">

  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon/faviconr.jpg" />

  <!-- TITLE -->
  <title><%=title%></title>

  <!-- BOOTSTRAP CSS -->
  <link id="style" href="/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- STYLE CSS -->
  <link href="/admin/assets/css/style.css" rel="stylesheet" />
  <link href="/admin/assets/css/dark-style.css" rel="stylesheet" />
  <link href="/admin/assets/css/transparent-style.css" rel="stylesheet">
  <link href="/admin/assets/css/skin-modes.css" rel="stylesheet" />

  <!--- FONT-ICONS CSS -->
  <link href="/admin/assets/css/icons.css" rel="stylesheet" />

  <!-- COLOR SKIN CSS -->
  <link id="theme" rel="stylesheet" type="text/css" media="all" href="/admin/assets/colors/color1.css" />

  <!-- INTERNAL Switcher css -->
  <link href="/admin/assets/switcher/css/switcher.css" rel="stylesheet" />
  <link href="/admin/assets/switcher/demo.css" rel="stylesheet" />

  <style>
    .side-menu .side-menu__icon {
      color: black !important;
    }
    .mapboxgl-ctrl-geocoder--input {
      width: 100%;
    }
  .img-remove:hover .custom-controls-stacked
  {
    display: block;
  }
  .img-remove .custom-controls-stacked {
    position: absolute;
    top: 0px;
    border-radius: 3px;
    left: 15px;
    display:none;
    background-color: #373333b5; 
    padding: 8px;
    color: #fff;
  }
  </style>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
</head>
